<template>
  <v-app>
    <TopLayout />
    <v-main>
      <router-view/>
    </v-main>
    <bottom-layout />

  </v-app>
</template>

<script>
import TopLayout from './layouts/TopLayout';
import BottomLayout from "@/layouts/BottomLayout.vue";

export default {
  name: 'App',
  components: {
    TopLayout,
    BottomLayout,

  },

  data() {
      return {

    }
  },

};
</script>
