<template>
  <!--  begin of the big boxes-->
  <div class="inspire pa-0"
       v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-container
        v-bind:class="{ 'red_hl': red_hl }"
        class="pa-0"
        style="min-width: 98vw"
    >
      <v-row
          v-bind:class="{ 'red_hl': red_hl }"
          no-gutters
          style="min-height: 49vh; "
      >
        <v-col
            v-bind:class="{ 'red_hl': red_hl }"
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
            :link="item.links"
            cols="6"
            style=""
            max-width=""
            class="pa-0 ma-0 center"
            align-items="center"
        >
          <v-card
              width="48vw"
              v-bind:class="{ 'red_hl': red_hl }"
              tile
              class=""
          >
            <v-img
                v-bind:class="{ 'red_hl': red_hl }"
                class="pa-10"
                min-height="100vh"
                max-height="110vh"
                :src="item.src"
            >
              <v-container
                  v-bind:class="{ 'red_hl': red_hl }"
                  class="action_box"
              >
                <v-card-text
                    class="text-uppercase white--text pl-0 pb-0">
                  Lorem ipsum dolor sit
                </v-card-text>
                <v-card-title
                    class="text-uppercase white--text pl-0">
                  <h1>consetetur sadipscing eliti</h1>
                </v-card-title>
                <v-btn
                    v-bind:class="{ 'red_hl': red_hl }"
                    color="black"
                    style="background-color: #FFFFFF"
                    text
                    tile
                    to="/allproducts"
                >
                  SHOP NOW
                </v-btn>
              </v-container>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "LandingPageContainerSystem",
  data() {
    return {
      red_hl: false,
      items: [
        {
          src: 'https://images.unsplash.com/photo-1596646912242-80d82d06c463?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1976&q=80',
          link: 'Categorie 1',
        },
        {
          src: 'https://images.unsplash.com/photo-1607429289322-d5046ae6fdca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2030&q=80',
          link: 'Categorie 2',
        },
      ],
    }
  }
}
</script>

<style scoped>

.container {
  max-width: 100vw;
}

.v-application .pa-0 {
  padding: 1vh !important;
}

.inspire {
  width: 100vw;
  min-height: 100vh !important;
  /*margin: 0;
  padding: 0;*/
}

.action_box {
  margin-top: 80vh;
}

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border: 1px solid red;
}

/*                                       RED BORDER FOR GRID EDITING                             */

</style>