<template>
    <tr>
        <td @click="createProductPage(product)">
      <!--                  image of the bike-->
      <v-list-item-avatar>
        <v-img :src='item.product.imageAdress'></v-img>
      </v-list-item-avatar>
      {{ item.product.productName }}</td>
        <td>€{{ item.product.price }}</td>
        <td>
            {{ item.quantity }}
        </td>


        <td>€{{ getItemTotal(item).toFixed(2) }}</td>
      <td>
        <button class="transparent" @click="incrementQuantity(item)"><img alt="plus" src="@/assets/plus.png" class="quant"></button>
        <button class="transparent" @click="decrementQuantity(item)"><img alt="minus" src="@/assets/minus.png" class="quant"></button>
      </td>
        <td><button class="transparent" @click="removeFromCart(item)"><img alt="x" src="@/assets/x.png" class="quant x"></button></td>
    </tr>
</template>

<script>
export default {
    name: 'CartItem',
    props: {
        initialItem: Object
    },
    data() {
        return {
            item: this.initialItem
        }
    },
    methods: {
        getItemTotal(item) {
            return item.quantity * item.product.price
        },
        decrementQuantity(item) {
            item.quantity -= 1

            if (item.quantity === 0) {
                this.$emit('removeFromCart', item)
            }

            this.updateCart()
        },
        incrementQuantity(item) {
            item.quantity += 1

            this.updateCart()
        },
        updateCart() {
            localStorage.setItem('cart', JSON.stringify(this.$store.state.cart))
        },
        removeFromCart(item) {
            this.$emit('removeFromCart', item)

            this.updateCart()
        },
    },
}
</script>

<style scoped>

.quant {
  height: 2vh;
  width: auto;
}



/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border: 1px solid red;
}

/*                                       RED BORDER FOR GRID EDITING                             */

</style>