<template>
<div class="ma-15">
  <!--           BIG PAGE TITLE          -->
  <v-card-text
      class="text-center text-h1 font-weight-bold black--text pa-0 mt-15 mb-15 text-uppercase"
      v-bind:class="{ 'red_hl': red_hl }">
    CONTACT US
  </v-card-text>
  <p class="text-h5 pa-10 text-center">If you have any message to our team, please do not hesitate to be in contact with us!</p>

  <div class="container">
    <form ref="form" @submit.prevent="sendEmail">
      <label>Name</label>
      <input
          type="text"
          v-model="name"
          name="name"
          placeholder="Your Name"
      >
      <label>Email</label>
      <input
          type="email"
          v-model="email"
          name="email"
          placeholder="Your Email"
      >
      <label>Message</label>
      <textarea
          name="message"
          v-model="message"
          cols="30" rows="5"
          placeholder="Message">
          </textarea>

      <v-btn type="submit" class="white--text" color="#0F99F5">Send Message</v-btn>
    </form>
  </div></div>
</template>

<script>

import emailjs from 'emailjs-com';

export default {
  name: "Contact Us",
  data() {
    return {
      name: '',
      email: '',
      message: ''
    }
  },
  mounted() {
    document.title = 'Contact Us | FahrradSale'
  },
  methods: {
    sendEmail() {
      try {
        emailjs.sendForm('service_zbpgmvs', 'template_7ivmefx', this.$refs.form, 'ZDkQqUSYCf_OtzA4O',{
              name: this.name,
              email: this.email,
              message: this.message
            })

      } catch(error) {
        console.log({error})
      }
      // Reset form field
      this.name = ''
      this.email = ''
      this.message = ''
    },
  }




}
</script>

<style scoped>

* {box-sizing: border-box;}


.container {
  display: block;
  margin:auto;
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

label {
  float: left;
}

input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>