<template>
  <v-footer
      color="black"
      padless
      v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-row
        justify="center"
        class="pl-10 pr-10 pb-5 py-5"
        no-gutters
        align="center"
        v-bind:class="{ 'red_hl': red_hl }"
    >
      <v-col
          class="  text-left white--text"
          cols="3"
          md="2"
          sm="2"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <strong>MADE WITH love BY J-N-S</strong>
      </v-col>
      <v-col
          class="  text-left white--text"
          cols="3"
          md="2"
          sm="2"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <strong>COPYRIGHT</strong> {{ new Date().getFullYear() }}
      </v-col>
      <v-col
          class="pr-5  text-right white--text"
          cols="6"
          md="8"
          sm="8"
          v-bind:class="{ 'red_hl': red_hl }"
      >
<!--        <v-btn
            v-for="link in links"
            :key="link"
            color="white"
            text
            class="my-2 text-right"
            v-bind:class="{ 'red_hl': red_hl }"
        >

&lt;!&ndash;          {{ link }}&ndash;&gt;
        </v-btn> -->
        <FooterBottomRight/>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
import FooterBottomRight from "@/components/CopyrightRight";
export default {
  name: "Copyright",
  components: {FooterBottomRight},
  data() {
    return {
     /* links: [
        'Home',
        'About Us',
        'Team',
        'Services',
        'Contact Us',
      ],*/
      red_hl: false
    }
  }
}
</script>

<style scoped>

.red_hl {
  border: 1px solid red;
}

</style>