<template>
  <v-row
      align="center"
      justify="space-around"
  >
    <v-btn
        color="text--white"
        text
        class="my-2 text-center "

    >
      <router-link to="/" class="fonti">
      HOME
      </router-link>
    </v-btn>
    <v-btn
        color="text--white"
        text
        class="my-2 text-center "

    >
      <router-link to="/about" class="fonti">
      ABOUT US
      </router-link>
    </v-btn>
    <v-btn
        color="text--white"
        text
        class="my-2 text-center "

    >
      <router-link to="/ourteam" class="fonti">
      TEAM
      </router-link>
    </v-btn>

    <v-btn
        color="text--white"
        text
        class="my-2 text-center "

    >
      <router-link to="/contactFormular" class="fonti">
      CONTACT US
      </router-link>
    </v-btn>
  </v-row>
</template>

<script>
export default {
  name: "FooterBottomRight"
}
</script>

<style scoped>

.fonti{
  color: white;
  text-decoration: none;
}

</style>