<template>
  <v-footer
      color="black"
      padless
      v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-row
        justify="center"
        class="pl-10 pr-10 pb-5 py-5"
        no-gutters
        align="center"
        v-bind:class="{ 'red_hl': red_hl }"
    >
      <v-col
          class="text-left"
          cols="3"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <v-list
            class="white--text black pr-4"
        >
          <h4 class="text-uppercase">EVENTS</h4>
          <ul class="footer-ul" v-bind:class="{ 'red_hl': red_hl }">
            <li>
              <router-link to="/test" class="text-light">Test</router-link>
            </li>
            <li>
              <a href="#" class="text-light">Event 2</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 3</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 4</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 5</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 6</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 7</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 8</a>
            </li>
          </ul>
        </v-list>
      </v-col>
      <v-col
          class="  text-left white--text"
          cols="3"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <v-list
            class="white--text black pr-4"
        >
          <h4 class="text-uppercase">EVENTS</h4>
          <ul class="footer-ul" v-bind:class="{ 'red_hl': red_hl }">
            <li>
              <a href="#" class="text-light">Event 1</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 2</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 3</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 4</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 5</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 6</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 7</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 8</a>
            </li>
          </ul>
        </v-list>
      </v-col>
      <v-col
          class="  text-left white--text"
          cols="3"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <v-list
            class="white--text black pr-4"
        >
          <h4 class="text-uppercase">EVENTS</h4>
          <ul class="footer-ul" v-bind:class="{ 'red_hl': red_hl }">
            <li>
              <a href="#" class="text-light">Event 1</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 2</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 3</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 4</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 5</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 6</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 7</a>
            </li>
            <li>
              <a href="#" class="text-light">Event 8</a>
            </li>
          </ul>
        </v-list>
      </v-col>
      <v-col
          class="pl-5 pb-10 text-left white--text"
          cols="3"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <h4 class="text-uppercase">STAY CONNECTED</h4>
        <v-row
            justify="flex-start space-between"
            align-content="space-between"
            class="pl-0 pb-5 py-2 pr-lg-16 pr-md-16 pr-sm-0 "
            no-gutters
            v-bind:class="{ 'red_hl': red_hl }"
        >
          <v-col
              class="text-left"
              cols="4"
              md="4"
              sm="4"
              v-bind:class="{ 'red_hl': red_hl }"
          >
            <!-- Col: Social media -->
            <!-- Youtube -->
            <router-link to="/">
              <img alt="yt_png" src="@/assets/yt-w.png" class="img-fluid footer-logo">
            </router-link>
            <!-- Youtube -->
          </v-col>
          <v-col
              class="text-left"
              cols="4"
              md="4"
              sm="4"
              v-bind:class="{ 'red_hl': red_hl }"
          >
            <!-- Facebook -->
            <router-link to="/">
              <img alt="fb_png" src="@/assets/fb-w.png" class="img-fluid footer-logo">
            </router-link>
            <!-- Facebook -->
          </v-col>
          <v-col
              class="text-left"
              cols="4"
              md="4"
              sm="4"
              v-bind:class="{ 'red_hl': red_hl }"
          >
            <!-- Instagram -->
            <router-link to="/">
              <img alt="insta_png" src="@/assets/insta-w.png" class="img-fluid footer-logo">
            </router-link>
            <!-- Instagram -->
          </v-col>
          <!-- Col: Social media -->
        </v-row>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "FooterBottom",

  data() {
    return {
      red_hl: false
    }
  }
}

</script>

<style scoped>

.container {
  max-height: 50vh;
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  /*padding: 44.5px;*/
  max-height: 50vh;
}

.footer-logo {
  height: 3vh;
}

/*                                       FOOTER UNORDERED LIST                             */
.footer-ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding: 0;
}

/*                                       FOOTER UNORDERED LIST                             */

/*                                       ALL THE A-LINKS                             */
.v-application a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/*                                       ALL THE A-LINKS                             */

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border: 1px solid red;
}

/*                                       RED BORDER FOR GRID EDITING                             */

</style>