<template>
  <!--  sign for newsletter and e-mail form with submit-->
  <v-footer
      color="black"
      padless
      v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-row
        justify="center"
        class="pl-5 pr-5 pb-5 py-5 p-sm-0"
        no-gutters
        align="center"
        v-bind:class="{ 'red_hl': red_hl }"
    >
      <v-col
          class="text-left white--text"
          cols="5"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <h2>SIGN UP TO OUR NEWSLETTER</h2>
        <h5 class="grey_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor.</h5>
      </v-col>
      <v-col
          class="  text-left white--text ml-15"
          cols="5"
          v-bind:class="{ 'red_hl': red_hl }"
      >
        <v-col
            class="text-left"
            cols="12"
            md="12"
            sm="12"
            v-bind:class="{ 'red_hl': red_hl }"
        >
          <!--        in v-form sollte sein und auch in data benutzt    v-model="valid"-->
          <!--            v-model="nameOfPerson"-->
          <v-form
              ref="form"
              class="email_form">
            <!-- Col: Social media -->
            <span class="grey_text">EMAIL*</span>
            <v-text-field
                label=""
                placeholder=""
                solo
                required
                single-line
                loader-height=1
                border-radius: none
                class="email_text"
            >
            </v-text-field>
          </v-form>
        </v-col>
        <v-col
            class="text-left"
            cols="12"
            md="12"
            sm="12"
            v-bind:class="{ 'red_hl': red_hl }"
        >
          <section class="grey_text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam no
            eirmod tempor invidunt dolor sit ut
            <router-link to="/" class="priv_policy">
              Privacy Policy
            </router-link>
            .
          </section>
        </v-col>
        <v-col
            class="text-left"
            cols="12"
            md="12"
            sm="12"
            v-bind:class="{ 'red_hl': red_hl }"
        >
          <v-btn
              color=""
              text
              class="my-2 text-center btn_submit"
              v-bind:class="{ 'red_hl': red_hl }"
          >
            <router-link to="/" class="">
              SUBMIT
            </router-link>
          </v-btn>
        </v-col>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "FooterTop",

  data() {
    return {
      red_hl: false
    }
  }
}

</script>

<style scoped>

.container {
  max-height: 50vh;
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  max-height: 50vh;
}

.email_text {
  border-radius: 0;
  margin: 0;
}

.email_form {
  margin: 0;

}

.priv_policy {
  color: #0F99F5 !important;
}

.grey_text {
  color: #787474 !important;
}

.btn_submit {
  background-color: #292929 !important;
  border-radius: 0;
}

/*                                       FOOTER UNORDERED LIST                             */
.footer-ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
  padding: 0;
}

/*                                       FOOTER UNORDERED LIST                             */

/*                                       ALL THE A-LINKS                             */
.v-application a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/*                                       ALL THE A-LINKS                             */

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border: 1px solid red;
}

/*                                       RED BORDER FOR GRID EDITING                             */

</style>