<template>

  <!--  header second with the menu bar-->
  <v-toolbar class="grey darken-3 ">
    <v-tabs
        grow
        show-arrows
        align-with-title
        slider-size="8"
        color="#0F99F5"
    >
      <v-tab class="white--text" to="/">
        HOME
      </v-tab>
      <v-tab class="white--text" to="/allproducts">
        All Bikes
      </v-tab>
<!--      <v-tab class="white&#45;&#45;text"
      >
        Test
      </v-tab>-->
<!--      <v-tab class="white&#45;&#45;text" to="/cart">
        Shopping Cart
      </v-tab>-->
      <v-tab class="white--text" to="/aboutUs">
        About Us
      </v-tab>
      <v-tab class="white--text" to="/contactus">
        Contact Us
      </v-tab>
    </v-tabs>
  </v-toolbar>
</template>

<script>
export default {
  name: "HeaderSecond"
}
</script>

<style scoped>

</style>