<template>

  <!--  header one with login and shopping cart button-->
  <v-toolbar class=" black" dark
  >
    <!--  v-model="search"-->
    <v-text-field

        clearable
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="SEARCH THE ENTIRE STORE"
    >
    </v-text-field>
    <router-link to="/">
      <v-img
          :src="require('/src/assets/logo.png')"
          class="my-3"
          contain
          height="45"
      />
    </router-link>
    <v-spacer></v-spacer>

    <!--      if loggedin then you see the logout button-->
    <template v-if="isLoggedIn">
      <v-btn @click="logout" to="/login" class="black">
        <span>Logout</span>
        <v-icon class="ml-2 black ">logout</v-icon>
      </v-btn>
    </template>


    <template v-else>
      <v-btn class="black" link to="/login">
        <span>Login</span>
        <v-icon class="ml-2 black " to="/login">login</v-icon>
      </v-btn>
    </template>

    <v-btn class="black" link to="/bag">
    <span>Bag</span>
    <v-icon class="ml-2 black" to="/bag">shopping_basket</v-icon>
    <span>({{ cartTotalLength }})</span>
  </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      cart: {
        items: []
      }
    }
  },
  mounted() {
    this.cart = this.$store.state.cart
  },
  computed: {
    isLoggedIn() {
      return !!this.$store.state.user
    },
    cartTotalLength() {
      let totalLength = 0

      for (let i = 0; i < this.cart.items.length; i++) {
        totalLength += this.cart.items[i].quantity
      }

      return totalLength
    }
  },
  methods: {
    async logout() {
      await this.$store.dispatch('logout')
    }
  }
}

</script>

<style scoped>

</style>