<template>
  <v-container>
    <LittleBoxes />
    <BigBoxes />
  </v-container>
</template>

<script>

import LittleBoxes from "@/components/SmallBoxes";
import BigBoxes from "@/components/BigBoxes";

export default {
  name: 'LandingPageContainerSystem',
  components: {
    LittleBoxes, BigBoxes
  },
  data: () => ({

  }),
}
</script>

<style scoped>

.container {
  width: 100vw;
  padding: 0;
  margin: 0;
}

</style>