<template>

  <!--  product details in table of the product overview-->
  <v-container>
    <v-row>
      <div class="d-flex flex-column justify-lg-space-between align-center">
        <v-subheader class="text-h4 pa-6 ma-9">MORE INFORMATION</v-subheader>
      </div>
    </v-row>
    <v-container>
      <v-card>
        <v-data-table
            dense
            :headers="headers"
            :items="this.$store.state.productDetails"
            item-key="detailTitle"
            class="elevation-1"
        ></v-data-table>

      </v-card>
    </v-container>
  </v-container>
</template>

<script>
/*import axios from "axios";*/
export default {
  name: "ProductOverviewInfoTwo",
  data() {
    return {


      headers: [
        {text: 'DetailTitle', align: 'left', value: 'name'},
        {text: 'DetailContent', value: 'tagline'},

      ],
    }
  },
  mounted() {

    console.log("ProductDetails before dispatch: " , this.$store.state.productDetails);
    this.$store.dispatch("getProductDetails", this.$route.params.id);
    console.log("Product Id: " + this.$route.params.id);
    console.log("ProductDetails after dispatch: " , this.$store.state.productDetails);

  },
  computed: {

    productDetails() {
      return this.$store.state.productDetails
    },
    product() {
      return this.$store.state.products.find(product=>product.id===parseInt(this.$route.params.id))
    },
  }

}
</script>

<style scoped>

</style>