<template>
  <!--  breadcrumps for product Overview-->

  <v-toolbar class="white darken-3 ">
    <v-tabs
    >
      <v-breadcrumbs :items="items">
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item
              :href="item.href"
              :disabled="item.disabled"
          >
            {{ item.text.toUpperCase() }}
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>
    </v-tabs>
  </v-toolbar>
</template>

<script>
export default {
  name: "ProductsPageHeader",
  data() {
    return {
      items: [
        {
          text: 'Home',
          disabled: false,
          href: '',
        },
        {
          text: 'Product Overview',
          disabled: true,
          href: '',
        },
      ],
    }
  }
}
</script>

<style scoped>

</style>