<template>
  <v-row>
    <v-col
        v-for="product in allProducts"
        :key="product.id"
        cols="12"
        sm="6"
        md="4"
        lg="3"
        >


      <v-img
          v-bind:class="{ 'red_hl': red_hl }"
          min-height="60vh"
          max-height="60vh"
          :src='product.imageAdress'
          @click="createProductPage(product)"
      >

<!--  name and description of the product card-->

    <div class=" mx-4 my-4 productText ">
      <p class="mt-10"><span class=" text-h5">{{ product.productName }}</span> </p>
        <p class=""><span class=" text-h6">{{ product.productDescription }}</span></p>
        <p class=""><span class=" text-h3">{{ product.price}}€</span></p>


    </div>
      </v-img>
      <!--    if admin, delete Button will be showing-->
      <div>
      <v-btn class="red white--text" @click="deleteProduct(product.id)" v-show="useradmin === 'admin'">Delete Product</v-btn>
      </div>
    </v-col>

    <template>
      <v-row justify="center">
        <v-dialog
            v-model="dialog"
            persistent
            max-width="600px"
        >
          <template v-slot:activator="{ on, attrs }">
            <div class="addproduct">
            <v-btn
                class="pa-10 text-h5"
                color="green"
                dark
                v-bind="attrs"
                v-on="on"
                v-show="useradmin === 'admin'"
            > <!--    if admin, add button will be showing-->
              Add Product
            </v-btn>
            </div>




          </template>
          <v-form
              @submit.prevent="addProduct"
              ref="form">
          <v-card>
            <v-card-title>
              <span class="text-h5"
                   >
                    Add Product</span>

            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>

<!--                   begin of the dialog-->
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                    <v-text-field
                        v-model="productName"
                        label="Name"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                    <v-text-field
                        v-model="productDescription"
                        label="Description"
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                    <v-select
                        v-model="productCategory"
                        label="Category"
                        required
                        outlined
                        :items="categories"
                    ></v-select>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                    <v-text-field
                        v-model.number="price"
                        label="Price"
                        persistent-hint
                        required
                    ></v-text-field>
                  </v-col>
                  <v-col
                      cols="12"
                      sm="6"
                      md="4"
                  >
                    <v-text-field
                        v-model="imageAdress"
                        label="Image Adress"
                        required
                    ></v-text-field>
                  </v-col>


                </v-row>
              </v-container>

            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="dialog = false"
              >
                Close
              </v-btn>
              <v-btn
                  color="blue darken-1"
                  text
                  type="submit"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
          </v-form>
        </v-dialog>
      </v-row>
    </template>


  </v-row>
</template>


<script>
export default {
  name: "ProductPageFilterPartTwoHeaderPart",


  data() {
    return {
      red_hl: true,
      dialog: false,



      productName: "",
      productDescription: "",
      productCategory: "",
      categories: [
        "MTB",
        "CROSS",
        "CITY",
        "KIDS",
        "TREKKING",
        "TIRE",
        "CHAIN",
        "ACCESSORY"],
      price: 0,
      imageAdress: "",


      user:false,
      itemsPerPageArray: [4, 8, 12, 16, 20],
      search: '',
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 4,
      sortBy: 'name',
      keys: [
        'Name',
        'Description',
          'Price'
      ],

    }
  },

  props: {
    items: Array
  },
  methods: {

    async addProduct() {
      this.dialog = false
      console.log("name: "+this.productName)
      console.log("description: "+this.productDescription)
      console.log("category: "+this.productCategory)
      console.log("preis: "+this.price)
      console.log("imageAdress: "+this.imageAdress)

      try {
        await this.$store.dispatch("addProductToAdminView", {
          productName: this.productName,
          productDescription: this.productDescription,
          productCategory: this.productCategory,
          price: this.price,
          imageAdress: this.imageAdress
        });
      } catch (err) {
        console.error(err);
      }

    },
    createProductPage(product) {
      console.log("clicked, createProductPage method. ProductId is: " + product.id);
      console.log("pushing you to the productDetail Page");
      this.$router.push({ path: `/product/${product.id}` })
    },
    deleteProduct(productId) {
      console.log("button clicked,dispatch will start, payload is:", productId)
      this.$store.dispatch("DeleteProduct", productId)
      console.log("button clicked,dispatch will start, payload is:", productId)


    },
  },

  mounted() {
    console.log("Product Id: " + this.$route.params.id);

  },

  computed: {
    filteredKeys() {
      return this.keys.filter(key => key !== 'Name')
    },
    allProducts() {
      return this.$store.state.products
    },
    admin() {
      return this.$store.state.admin
    },
    useradmin(){
      return this.$store.state.user
  },

  }
}
</script>

<style scoped>
.addproduct{
  margin-top: 30%;
}

.productText{


  text-align: center;
  margin-top: 30vh;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 0 #000000;
  border: 1px #0F99F5;


}
</style>

