<template>
<!--  information of the name and price of product overview-->
<v-container>
  <v-row>
    <v-col lg="6" >

        <div class="d-flex flex-column align-center ma-auto">

      <v-img :src='product.imageAdress' max-height="50vh" max-width="40vw" class="ml-16"></v-img></div>
    </v-col>
    <v-col lg="4">
      <div class="d-flex flex-column ma-auto align-center">

                <v-subheader class="text-h4">{{ product.productName }}</v-subheader>
        <v-subheader class="text-h4">{{ product.price }}€</v-subheader>
        In Stock
        <input type="number" class="input" min="1" v-model.number="quantity">
        <v-btn class="black white--text ma-9" @click="addToCart()">
          ADD TO BAG
        </v-btn>
      </div>
    </v-col>
  </v-row>
</v-container>
</template>

<script>
export default {
  name: "ProductOverviewInfoOne",

  data() {
    return {
      products: {},
      quantity: 1
    }
  },

  computed: {
    allProducts() {
      return this.$store.state.products
    },
    product() {
      return this.$store.state.products.find(product=>product.id===parseInt(this.$route.params.id))
    },
    admin(){
      return this.$store.state.admin
    }
  },

  mounted() {
    this.$store.dispatch("loadAllProducts");
  console.log("Product Id: " + this.$route.params.id);
  this.$store.dispatch('getProductDetails', this.$route.params.id);

},

  methods: {
    addToCart() {
      if (isNaN(this.quantity) || this.quantity < 1) {
        this.quantity = 1
      }

      const item = {
        product: this.product,
        quantity: this.quantity
      }

      this.$store.commit('addToCart', item)


    },

    addProductToCart(product) {
      this.$store.dispatch('addProductToCart', product)
    },
  }
}
</script>

<style scoped>

</style>