<template>

  <v-row
      class="mt-10"
      align="center"
      justify="center"
  >


    <!--              BOTTOM LEFT ITEMS PER PAGE AND MENU             -->
    <span class="grey--text">Items per page</span>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
            dark
            text
            color="black"
            class="ml-2"
            v-bind="attrs"
            v-on="on"
        >
          {{ itemsPerPage }}
          <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
            v-for="(number, index) in itemsPerPageArray"

            :key="index"
            @click="updateItemsPerPage(number)"
        >
          <v-list-item-title>{{ number }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>


    <!--              SPACER             -->

    <v-spacer
        class="spacer-bottom"
        v-bind:class="{ 'red_hl': red_hl }">
    </v-spacer>

    <!--              SPACER             -->

    <!--              BOTTOM RIGHT PAGE OF AND L R BUTTONS             -->

    <span
        class="mr-4
              grey--text"
    >
              Page {{ page }} of {{ numberOfPages }}
            </span>
    <v-btn
        fab
        dark
        color="black darken-3"
        class="mr-1"
        @click="formerPage"
    >
      <v-icon>mdi-chevron-left</v-icon>
    </v-btn>
    <v-btn
        fab
        dark
        color="black darken-3"
        class="ml-1"
        @click="nextPage"
    >
      <v-icon>mdi-chevron-right</v-icon>
    </v-btn>
    <!--              BOTTOM RIGHT PAGE OF AND L R BUTTONS             -->
    <!--              BOTTOM PART / FOOTER             -->

    <!--    <div v-for="(product, id) in allProducts" :key="id">
          {{ product.productName }}
        </div>-->

  </v-row>
</template>

<script>
export default {
  name: "ProductPageFilterPartThreeBottomPart",
  data() {
    return {
      red_hl: false,
      page: 1,
      itemsPerPageArray: [4, 8, 12, 16, 20],
    }
  },
  props: {
    itemsPerPage: Number
  },

  computed: {
    numberOfPages() {
      return Math.ceil(this.allProducts.length / this.itemsPerPage)
    },

    allProducts() {
      return this.$store.state.products
    },
  },
  methods: {
    nextPage() {
      if (this.page + 1 <= this.numberOfPages) this.page += 1
    },
    formerPage() {
      if (this.page - 1 >= 1) this.page -= 1
    },
    updateItemsPerPage(number) {
      this.$emit("change", number)
    },
  },
  created() {
    this.$store.dispatch('loadAllProducts')
  }


}
</script>

<style scoped>

</style>

