<!--              FILTERS           -->
<template v-slot:header>
  <v-row back
         color="transparent"
         class="mb-1"
         v-bind:class="{ 'red_hl': red_hl }">
    <div>

      <template v-if="$vuetify.breakpoint.mdAndUp">
        <v-col
            class=" text-h3 my-1 mx-2 mb-8"
            v-bind:class="{ 'red_hl': red_hl }">FILTER
        </v-col>
        <v-spacer
            class="spacer-filter"
            v-bind:class="{ 'red_hl': red_hl }">
        </v-spacer>
        <div>
          <v-row back
                 color="transparent"
                 class="mb-1"
                 v-bind:class="{ 'red_hl': red_hl }">


            <!--              RESET FILTER BUTTON           -->
            <v-col
                v-bind:class="{ 'red_hl': red_hl }">
              <v-btn text
                     class="text-h5 my-3 mx-1"
                     v-bind:class="{ 'red_hl': red_hl }">
                RESET FILTER
              </v-btn>
            </v-col>
            <!--              RESET FILTER BUTTON           -->

            <v-spacer
                class="spacer-filter"
                v-bind:class="{ 'red_hl': red_hl }">
            </v-spacer>

            <!--              FILTER 1           -->
            <v-col
                v-bind:class="{ 'red_hl': red_hl }">
              <v-select
                  v-model="sortBy"
                  flat
                  solo-inverted
                  hide-details
                  :items="keys"
                  prepend-inner-icon="mdi-magnify"
                  label="Filter"
                  v-bind:class="{ 'red_hl': red_hl }"
              ></v-select>
            </v-col>
            <!--              FILTER 1           -->

            <v-spacer
                class="spacer-filter"
                v-bind:class="{ 'red_hl': red_hl }">
            </v-spacer>


          </v-row>
        </div>
      </template>
    </div>
  </v-row>
</template>
<!--              FILTER          -->

<script>
export default {
  name: "ProductPageFilterPartOneSearchBar",
  data() {
    return {
      red_hl: false,

      sortBy: 'productName',
      keys: [
        'Name',
        'Description',
        'Price',

      ],

    }
  }
}
</script>

<style scoped>

.spacer-filter {
  flex-grow: 0.1 !important;
}


</style>



