<template>

  <!--  breadcrumbs for all bikes-->
  <v-toolbar class="white darken-3 ">
    <v-tabs
    >
      <v-breadcrumbs :items="items">
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item
              :href="item.href"
              :disabled="item.disabled"
          >
            {{ item.text.toUpperCase() }}
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>
    </v-tabs>
  </v-toolbar>
</template>

<script>
export default {
  name: "ProductsPageHeader",
  data() {
    return {
      items: [
        {
          text: 'Home',
          disabled: false,
          href: '',
        },
        {
          text: 'All Bikes',
          disabled: true,
          href: '',
        },
      ],
    }
  }
}
</script>

<style scoped>

.v-application .pa-0 {
  padding: 1vh !important;
}

.container {
  max-width: 100vw;
}

</style>