<template>
  <!--  main page for all bikes-->

  <v-container
      v-bind:class="{ 'red_hl': red_hl }"
      class="mb-10">
    <v-row
        v-bind:class="{ 'red_hl': red_hl }"
    >
      <!--           BIG PAGE TITLE          -->
      <v-card-text
          class="text-center text-h1 font-weight-bold black--text pa-0 mt-10 mb-15 text-uppercase"
          v-bind:class="{ 'red_hl': red_hl }">
        ALL BIKES
      </v-card-text>


      <v-container fluid
                   v-bind:class="{ 'red_hl': red_hl }">

        <!--        {{ itemsPerPage }}-->
<!--        <v-data-iterator
            :items="items"
            :items-per-page="itemsPerPage"
            :page.sync="page"
            :search="search"
            :sort-by="sortBy.toLowerCase()"
            :sort-desc="sortDesc"
            hide-default-footer
            v-bind:class="{ 'red_hl': red_hl }"
        >-->


          <!--           SEARCH BAR          -->
          <template v-slot:header>
            <ProductPageFilterPartOneSearchBar/>
          </template>

          <!--           HEADER SECTION          -->
          <template>
            <ProductPageFilterPartTwoHeaderPart/>
          </template>

          <!--              BOTTOM PART / FOOTER             -->
          <template v-slot:footer>
            <ProductPageFilterPartThreeBottomPart @change="setItemsPerPage" :items-per-page="itemsPerPage"/>
          </template>

<!--        </v-data-iterator>-->
      </v-container>
    </v-row>
  </v-container>
</template>


<script>

import ProductPageFilterPartOneSearchBar from "@/components/ProductPageFilterPartOneSearchBar";
import ProductPageFilterPartTwoHeaderPart from "@/components/ProductPageFilterPartTwoHeaderPart";
import ProductPageFilterPartThreeBottomPart from "@/components/ProductPageFilterPartThreeBottomPart";

export default {

  name: "ProductsPageFilters",
  components: {
    ProductPageFilterPartOneSearchBar,
    ProductPageFilterPartTwoHeaderPart,
    ProductPageFilterPartThreeBottomPart,
  },

  computed: {
    items() {
      return this.$store.state.products
    }
  },
   created() {
     this.$store.dispatch('loadAllProducts')
   },


  data() {
    return {
      red_hl: false,

      itemsPerPageArray: [10, 20, 50, 100, 500],
      search: '',
      filter: {},
      sortDesc: false,
      page: 1,
      itemsPerPage: 10,
      sortBy: 'name',
      keys: [
        'Name',
        'Description',
      ],
    }
  },
  mounted() {
    document.title = 'All Products | FahrradSale'
  },

  methods: {
    setItemsPerPage(numberOfItems) {
      this.itemsPerPage = numberOfItems
    }
  }
}
</script>

<style scoped>

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border: 1px solid red;
}

/*                                       RED BORDER FOR GRID EDITING                             */

.spacer-filter {
  flex-grow: 0.1 !important;
}

.spacer-bottom {
  flex-grow: 0.9 !important;
}

.v-select {
  border-radius: 0;
}

/*
.container {
  max-width: 100vw;
}
.v-application .pa-0 {
  padding: 1vh !important;
}
*/

/*.v-application .mb-1 {
   margin-bottom: 4px !important;
}*/
</style>