<template>
  <div class="inspire pa-0"
       v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-container
        v-bind:class="{ 'red_hl': red_hl }"
        class="pa-0"
        style="min-width: 98vw"
    >
      <v-row
          v-bind:class="{ 'red_hl': red_hl }"
          no-gutters
          style="min-height: 49vh; "
      >
        <v-col
            v-bind:class="{ 'red_hl': red_hl }"
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
            :link="item.links"
            cols="3"
            class="pa-0 ma-0 center"
            align-items="center"
        >
          <v-card
              max-width="23vw"
              v-bind:class="{ 'red_hl': red_hl }"
              tile
          >
            <v-img
                v-bind:class="{ 'red_hl': red_hl }"
                class=""
                min-height="50vh"
                :src="item.src"
            >
            </v-img>
            <v-card-subtitle class=" white--text text-center"
                             v-bind:class="{ 'red_hl': red_hl }"
                             style="background: #074975"
            >
              {{ item.link }}
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "ProductsPageBoxes",
  data() {
    return {
      red_hl: true,
      items: [
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 1',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 2',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 3',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 4',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 5',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 6',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 7',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 8',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 9',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 10',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 11',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          link: 'Product 12',
        },
      ],
    }
  }
}
</script>

<style scoped>

.container {
  max-width: 100vw;
}
.v-application .pa-0 {
  padding: 1vh !important;
}

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border:1px solid red;
}
/*                                       RED BORDER FOR GRID EDITING                             */


</style>