<template>
  <!--  small boxes for landing page-->
  <div class="inspire pa-0"
       v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-container
                 v-bind:class="{ 'red_hl': red_hl }"
                 class="pa-0"
                 style="min-width: 98vw"
    >
      <v-row
          v-bind:class="{ 'red_hl': red_hl }"
          no-gutters
          style="min-height: 49vh; "
      >
        <v-col
            v-bind:class="{ 'red_hl': red_hl }"
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
            :link="item.links"
            cols="3"
            style=""
            max-width=""
            class="pa-0 ma-0 center"
            align-items="center"
        >
          <v-card
              max-width="23vw"
              v-bind:class="{ 'red_hl': red_hl }"
              tile
              class="mr-0"
          >
            <v-img
                v-bind:class="{ 'red_hl': red_hl }"
                class=""
                min-height="50vh"
                max-height="50vh"
                :src="item.src"

            >
              <v-card-title></v-card-title>
            </v-img>
            <v-card-subtitle class=" white--text text-center"
                             v-bind:class="{ 'red_hl': red_hl }"
            style="background: #0F99F5"
            >
              {{ item.link }}
            </v-card-subtitle>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
</div>
</template>

<script>
export default {
  name: "LandingPageContainerSystem",
  data() {
    return {
      red_hl: false,
      items: [
        {
          src: 'https://images.unsplash.com/photo-1594171799689-5a716fd3acd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80',
          link: 'Fixies',
        },
        {
          src: 'https://images.unsplash.com/photo-1559137966-64cb96f92284?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1924&q=80',
          link: 'Road Bikes',
        },
        {
          src: 'https://images.unsplash.com/photo-1572111504021-40abd3479ddb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80',
          link: 'Mountain Bikes',
        },
        {
          src: 'https://images.unsplash.com/photo-1583227122027-d2d360c66d3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1976&q=80',
          link: 'City Bikes',
        },
      ],
    }
  }
}
</script>

<style scoped>

.container {
  max-width: 100vw;

}

.v-application .pa-0 {
  padding: 1vh !important;
}

.inspire
{
  width: 100vw;
  min-height: 60vh !important;
  /*margin: 0;
  padding: 0;*/
}

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border:1px solid red;
}
/*                                       RED BORDER FOR GRID EDITING                             */

</style>