<template>

  <!--  text in the landing page-->
  <div class="inspire pa-0"
       v-bind:class="{ 'red_hl': red_hl }"
  >
    <v-container
        v-bind:class="{ 'red_hl': red_hl }"
        class="pa-0"
        style="min-width: 98vw"
    >
      <v-row
          v-bind:class="{ 'red_hl': red_hl }"
          no-gutters
          style="min-height: 15vh;"
      >
        <v-col
            v-bind:class="{ 'red_hl': red_hl }"
            v-for="(item,i) in items"
            :key="i"
            :src="item.src"
            :link="item.links"
            cols="12"
            style=""
            max-width=""
            class="pa-0 ma-0 center"
            align-items="center"
        >
          <v-container class="divider" />
          <v-container
              width="96vw"
              v-bind:class="{ 'red_hl': red_hl }"
              tile
              background-color="transparent"
          >
              <v-container
                  v-bind:class="{ 'red_hl': red_hl }"
                  class="action_box"
              >
                <v-card-text
                  class="text-center text-h2 font-weight-bold black--text pa-0 text-uppercase">
                  LOREM IPSUM DOLOR SIT
                 </v-card-text>
                <v-card-text
                    class="text-center black--text pa-0">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna al
                  iquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea Taki.
                </v-card-text>
              </v-container>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  name: "TextBoxLandingPage",
  data() {
    return {
      red_hl: false,
      items: [
        {

        },

      ],
    }
  }
}
</script>

<style scoped>

.container {
  max-width: 100vw;
}

.v-application .pa-0 {
  padding: 1vh !important;
}

.inspire {
  width: 100vw;
  min-height: 10vh !important;
  /*margin: 0;
  padding: 0;*/
}

.action_box{
  margin-top: 5vh;
  padding: 0;
}

.divider {
  background-color: black;
  max-width: 12vw;
  height: 3vh;
  padding: 0;
  margin-top: 5vh;
}

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border:1px solid red;
}
/*                                       RED BORDER FOR GRID EDITING                             */

</style>