<template>
  <v-container class="pt-5">

    <v-row>
      <v-col lg="7">
        <!--           BIG PAGE TITLE          -->
        <v-card-text
            class="text-center text-h1 font-weight-bold black--text pa-0 mt-10 mb-15 text-uppercase"
            v-bind:class="{ 'red_hl': red_hl }">
          ABOUT US
        </v-card-text>
        <p class="description">We are a successful and committed company in the bicycle retail trade. We started three
          years ago in a small shop in the 9th district.
          Due to the high demand for our bikes, we have decided to open an even larger shop at Nußdorferstrasse 3, 1090
          Vienna. This means that we
          also have a larger selection of bicycles and accessories. We have everything that bike lovers need. In our
          industry we are famous for our
          service. Cyclists can simply come by and leave the bike to be repaired to us. With us you can also get
          appointments for repairs and service
          very quickly and we guarantee that you will get your bike back in a maximum of two days. We work very
          regularly and properly, which is why our
          customers are very satisfied with us and our bikes. Over the past few years, as the Arizona team, we have
          realized more than ever just how important
          and wonderful cycling really is. We would like to pass on this love for bicycles.</p>
<!--
        <v-btn color="#0F99F5" class="white&#45;&#45;text mr-16 mb-16 mt-6" rounded link to="/">Get Started</v-btn>
-->

        <!--        <v-btn color="indigo" class="white&#45;&#45;text mb-16 mt-6" rounded v>
                  <v-icon>mdi-play-circle</v-icon>
                  Watch Video
                </v-btn>-->

<!--        <div class="mb-16" >
          <video ref="myvideo"
                 src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                 width="400"></video>

          <br>
          <v-btn class="mr-16" :disabled="isPlaying" @click="play">Play</v-btn>

          <v-btn :disabled="!isPlaying" @click="stop">Stop</v-btn>
          <v-spacer></v-spacer>

        </div>-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ml-ywD8umHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </v-col>

      <v-col class="mt-16" lg="5">
        <img class="mt-16"
             width="100%" src="./../assets/bicycle-aboutUs.png" alt="bicycle">



      </v-col>

    </v-row>


  </v-container>


</template>

<script>
export default {
  name: "AboutUs",
  data() {
    return {
      isPlaying: false
    }
  },
  mounted() {
    document.title = 'About Us | FahrradSale'
  },
  methods: {
    play() {
      this.$refs.myvideo.play()
      this.isPlaying = true
    },
    stop() {
      this.$refs.myvideo.pause()
      this.isPlaying = false
    }
  }

}
</script>

<style scoped>

h1.intro-text {
  font-size: 60px;
  font-weight: bold;
  color: #444;
  margin-top: 30px;
  margin-bottom: 20px;
}

p.description {
  font-size: 20px;
  color: #444444ba;
  margin: 40px 10px;
}

</style>