<template>
  <div>
  <LandingPageLayout />
  </div>
</template>

<script>
  import LandingPageLayout from "@/layouts/LandingPageLayout";

  export default {
    name: 'Home',
    data() {
      return {

      }
    },
    components: {
      LandingPageLayout,

    },
    mounted() {
      document.title = 'Home | FahrradSale'
    },


  }
</script>
