<template>
  <v-container class="page_log_in">
    <h1 class="mt-8">LOGIN</h1>

    <v-form @submit.prevent="performLogin">
      <h3>SIGN-IN INFORMATION</h3>
      <!--      v-model="email"-->
      <v-text-field
          v-model="email"
          label="EMAIL"
          required
          outlined
      >
      </v-text-field>
      <v-text-field
          v-model="password"
          :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPassword ? 'text' : 'password'"
          name="input-10-2"
          label="PASSWORD"
          minlength="8"
          required
          hint="At least 8 characters"
          password=""
          class="input-group--focused"
          @click:append="showPassword = !showPassword"
          outlined
      >
      </v-text-field>
      <v-row
          align="center"
          justify="space-around"
      >
        <v-btn class="black white--text"
               outlined
               text
               type="submit"
        >
          LOGIN
        </v-btn>
        <v-btn
            link to="/registration"
            class="black white--text"
            outlined
            text
            value="registration"
        >
          CLICK HERE TO REGISTER
        </v-btn>
      </v-row>
    </v-form>

  </v-container>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      showPassword: false,
      email: "",
      password: '',
      loginError: ''
    }
  },
  methods: {
    async performLogin() {
      try {
        await this.$store.dispatch('performLoginAction', {
          email: this.email,
          password: this.password
        })
        await this.$router.push('/')
      } catch (error) {
        if (error.response && error.response.status === 400) {
          this.loginError = 'Wrong username or password'
        } else {
          console.error(error)
          this.loginError = 'An unknown error occurred '
          console.log(JSON.stringify(error))
        }
      }
    },
  },
  mounted() {
    document.title = 'Log In | FahrradSale'
  },

}
</script>

<style scoped>
.page_log_in {
  padding: 10vw;
}

</style>