<template>
  <v-form
      @submit.prevent="performRegistration"
      ref="form">
    <v-container class="reg_container">
      <h1 class="mt-8"> CREATE NEW CUSTOMER ACCOUNT</h1>
      <h3>PERSONAL INFORMATION</h3>

      <v-row>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="firstName"
              label="First Name"
              required
              outlined
              class=""
          >
          </v-text-field>
        </v-col>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="lastName"
              label="Last Name"
              required
              outlined>
          </v-text-field>
        </v-col>
      </v-row>

      <h3>BILLING ADDRESS</h3>
      <v-row>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="billingStreet"
              label="Street"
              required
              outlined
              @keyup="copyBilling">
          </v-text-field>
        </v-col>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="billingPostalCode"
              label="Postal Code"
              required
              outlined
              @keyup="copyBilling">
          </v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="billingCity"
              label="City"
              required
              outlined
              @keyup="copyBilling">
          </v-text-field>
        </v-col>
        <v-col
            cols="6"
            sm="6"
        >
          <v-select
              v-model="billingCountry"
              label="Country"
              required
              outlined
              :items="items"
              @change="copyBilling"
          ></v-select>
        </v-col>
      </v-row>


            <v-checkbox
                v-model="sameAdress"
                label="USE AS DELIVERY ADDRESS"
                @click="emptyText(); copyBilling();"
            ></v-checkbox>

      <h3>DELIVERY ADDRESS</h3>
      <v-row>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="deliveryStreet"
              label="Street"
              required
              outlined
          >
          </v-text-field>
        </v-col>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="deliveryPostalCode"
              label="Postal Code"
              required
              outlined>
          </v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col
            cols="6"
            sm="6"
        >
          <v-text-field
              v-model="deliveryCity"
              label="City"
              required
              outlined>
          </v-text-field>
        </v-col>
        <v-col
            cols="6"
            sm="6"
        ><v-select
            v-model="deliveryCountry"
            label="Country"
            required
            outlined
            :items="items"
        >
        </v-select>
        </v-col>
      </v-row>

      <v-checkbox
          v-model="newsletter"
          label="SIGN UP FOR NEWSLETTER"

      ></v-checkbox>
      <h3>SIGN-IN INFORMATION</h3>

        <v-text-field
            v-model="email"
            label="EMAIL"
            required
            outlined
        >
        </v-text-field>

        <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            name="input-10-2"
            label="PASSWORD"
            minlength="8"
            required
            hint="At least 8 characters"
            password=""
            class="input-group--focused"
            @click:append="showPassword = !showPassword"
            outlined
        >
        </v-text-field>

      <v-row
          align="center"
          justify="space-around"
      >
        <v-btn class="black white--text"
               outlined
               text
               type="submit"
        >
          CREATE NEW ACCOUNT
        </v-btn>
        <v-btn
            outlined
            text
            color="black"
            @click="goBack"
        >
          BACK
        </v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {

  data() {
    return {
      red_hl: false,

      showPassword: false,
      registrationError: "",

      sameAdress: false,
      firstName: "",
      lastName: "",
      email: "",
      password: "",
      newsletter: false,
      billingStreet: "",
      billingPostalCode: "",
      billingCity: "",
      billingCountry: "",
      deliveryStreet: "",
      deliveryPostalCode: "",
      deliveryCity: "",
      deliveryCountry: "",

      items: [
          "AUSTRIA",
        "GERMANY",
        "SWITZERLAND",
        "LICHTENSTEIN",
        "ITALY",
        "FRANCE",
        "UNITED_KINGDOM"]

    }
  },


  methods: {
    goBack() {
      return this.$router.go(-1)
    },


        copyBilling() {
          if (this.sameAdress === true) {
            this.deliveryStreet = this.billingStreet
            this.deliveryPostalCode = this.billingPostalCode
            this.deliveryCity = this.billingCity
            this.deliveryCountry = this.billingCountry

          }
        },

          emptyText() {
            if (this.sameAdress === false) {
              this.deliveryStreet = ""
              this.deliveryPostalCode = ""
              this.deliveryCity = ""
              this.deliveryCountry = ""

            }


},

async performRegistration() {
  console.log("button works, reg method starting")
      try {
        await this.$store.dispatch("performRegistrationAction", {

          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password,
          newsletter: this.newsletter,
          billingStreet: this.billingStreet,
          billingPostalCode: this.billingPostalCode,
          billingCity: this.billingCity,
          billingCountry: this.billingCountry,
          deliveryStreet: this.deliveryStreet,
          deliveryPostalCode: this.deliveryPostalCode,
          deliveryCity: this.deliveryCity,
          deliveryCountry: this.deliveryCountry,

        });
        console.log("perform Registration started");
        await this.$router.push('/login')
      } catch (err) {
        if (err.response.status === 409) {
          this.registrationError = 'Die E-Mail Adresse existiert bereits'
        } else {
          this.registrationError = 'Unbekannter Fehler'
        }
      }
    },

  },
  mounted() {
    document.title = 'Registration | FahrradSale'
  },

}
</script>


<style scoped>

.reg_container {
  padding: 10vw;
}

</style>