<template>
    <div class="page-success">
        <div class="columns is-multiline">
            <div class="column is-12">
              <v-card class="pa-6 ma-9">

                <h1 class="title text-center">THANK YOU FOR YOUR ORDER!</h1>
                <br>
                <p class="text-center">Your order will be processed within 48 hours</p>

              </v-card>

            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Success',
    mounted() {
        document.title = 'Success | FahrradSale'
    },
}
</script>