<template>
<v-container class="pt-5">
  <v-row>
    <v-col lg="6" class="mt-14">
      <img width="500px" src="./../assets/TeamView.png" alt="">
    </v-col>
    <v-col class="pt-5 mb-16" lg="6" >
      <h1 class="intro-text"> Our Team</h1>
      <p>lLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
        ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. </p>

      <v-list>
        <v-list-item>
          <v-icon color="success" class="mr-5">mdi-check-all</v-icon>
          <v-list-item-subtitle> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</v-list-item-subtitle>
        </v-list-item>
        <v-list-item>
          <v-icon color="success" class="mr-5">mdi-check-all</v-icon>
          <v-list-item-subtitle> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</v-list-item-subtitle>
        </v-list-item>
        <v-list-item>
          <v-icon color="success" class="mr-5">mdi-check-all</v-icon>
          <v-list-item-subtitle > Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</v-list-item-subtitle>
        </v-list-item>
        <p class="mt-10">lLorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
          labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
          et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.  </p>
      </v-list>
    </v-col>
  </v-row>
</v-container>
</template>

<script>
export default {
  name: "TeamView"
}
</script>

<style scoped>

h1.intro-text {
  font-size: 60px;
  font-weight: bold;
  color: #444;
  margin-top: 30px;
  margin-bottom: 20px;
}

</style>