<template>
  <div id="BottomLayout">
    <FooterTop />
    <FooterBottom />
    <CopyrightLeft />
  </div>
</template>

<script>
import FooterTop from "@/components/FooterTop";
import FooterBottom from "@/components/FooterBottom";
import CopyrightLeft from "@/components/CopyrightLeft";

export default {
  name: 'BottomLayout.vue',
  components: {
    FooterTop,
    FooterBottom,
    CopyrightLeft,
  },
}
</script>

<style scoped>

</style>