<template>
  <v-container>

    <p class="display-2 font-weight-light	text-center pa-4">CHECKOUT</p>

<!--  begin of the stepper-->
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step
            :complete="e1 > 1"
            color="#0F99F5"
            step="1"
        >
          Billing Address
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
            :complete="e1 > 2"
            color="#0F99F5"
            step="2"
        >
          Delivery Address
        </v-stepper-step>

        <v-divider></v-divider>
        <v-stepper-step
            :complete="e1 > 3"
            color="#0F99F5"
            step="3"
        >
          Method of Payment
        </v-stepper-step>
        <v-divider></v-divider>

        <v-stepper-step
            color="#0F99F5"
            step="4">
          Order Overview
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">

          <!--        contents of the stepper 1-->
          <v-container>
            <p class="display-1 font-weight-light text-center	pa-6 ma-9">The billing address for your product:</p>

            <v-card class="pa-6 ma-9">

              First Name: <strong>{{userData.firstName}}</strong>
              <br>
              Last Name: <strong>{{userData.lastName}}</strong>
              <br>
              Street: <strong>{{userData.billingStreet}}</strong>
              <br>
              Postal Code: <strong>{{userData.billingPostalCode}}</strong>
              <br>
              City: <strong>{{userData.billingCity}}</strong>
              <br>
              Country: <strong>{{userData.billingCountry}}</strong>

            </v-card>

          </v-container>
                <v-btn
              color="#0F99F5"
              class="white--text"
              @click="e1 = 2"
          >
                  CONTINUE
          </v-btn>

          <v-btn
              outlined
              text
              color="black"
              @click="goBack"
          >
            BACK
          </v-btn>
        </v-stepper-content>
        <!--        contents of the stepper 1-->

        <v-stepper-content step="2">
          <!--        contents of the stepper 2-->
          <v-container>
            <p class="display-1 font-weight-light text-center	pa-6 ma-9">The delivery address for your product:</p>

            <v-card class="pa-6 ma-9">

              First Name: <strong>{{userData.firstName}}</strong>
              <br>
              Last Name: <strong>{{userData.lastName}}</strong>
              <br>
              Street: <strong>{{userData.deliveryStreet}}</strong>
              <br>
              Postal Code: <strong>{{userData.deliveryPostalCode}}</strong>
              <br>
              City: <strong>{{userData.deliveryCity}}</strong>
              <br>
              Country: <strong>{{userData.deliveryCountry}}</strong>

            </v-card>
          </v-container>
          <v-btn
              color="#0F99F5"
              class="white--text"
              @click="e1 = 3"
          >
            CONTINUE
          </v-btn>
          <v-btn
              outlined
              text
              color="black"
              @click="e1 = 1"
          >
            BACK
          </v-btn>
        </v-stepper-content>
        <!--        contents of the stepper 2-->

        <!--        contents of the stepper 3-->
        <v-stepper-content step="3">

          <p class="display-1 font-weight-light text-center pa-6 ma-9">Your Payment Method In Invoice:</p>
          <H4>{{this.$store.state.cart.globalPrice.toFixed(2)}}€</H4>
          <p>Please transfer the total amount displayed to the bank account below. The order will be shipped after receipt of payment.</p>
          <v-card class="mb-12">
            Arizona Bike & Sport OG
            <br>
            ERSTE BANK
            <br>
            IBAN: AT142011183713900600
            <br>
            BIC:GIBAATWW

          </v-card>

          <v-btn
              color="#0F99F5"
              class="white--text"
              @click="e1 = 4"
          >
            CONTINUE
          </v-btn>

          <v-btn
              outlined
              text
              color="black"
              @click="e1 = 2"
          >
            BACK
          </v-btn>
        </v-stepper-content>
        <!--        contents of the stepper 3-->

        <!--        contents of the stepper 4-->
        <v-stepper-content step="4">
          <p class="display-1 font-weight-light text-center pa-6 ma-9">Your Order Overview:</p>
          <v-card class="pa-6 ma-9">

            <v-col :cols="12" md="9" sm="12">
              <v-simple-table>
                <!--          table for the product-->
                <thead>
                <tr>
                  <th class="text-center">ITEM</th>
                  <th class="text-center">PRICE</th>
                  <th class="text-center">QUANTITY</th>
                  <th class="text-center">TOTAL</th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in this.$store.state.cart.items " :key="item.id">
                  <td>
                    <!--                  image of the bike-->
                    <v-list-item-avatar>
                      <v-img :src='item.product.imageAdress'></v-img>
                    </v-list-item-avatar>
                    {{item.product.productName}}</td>
                  <td>{{item.product.price}}€</td>
                  <td>
                    {{item.quantity}}
                  </td>
                  <td>{{ getItemTotal(item).toFixed(2) }} €</td>
                </tr>
                </tbody>

              </v-simple-table>
            </v-col>
            <p>Total Products: <strong>{{ cartTotalLength }}</strong></p>
            <p>Costs of Transport: <strong>10€</strong></p>
            <p>Total Costs: <strong>{{this.$store.state.cart.globalPrice.toFixed(2)}}€</strong></p>

          </v-card>

          <v-btn
              color="#0F99F5"
              class="white--text"
              link to="/bag/success"
          >
            ORDER
          </v-btn>

          <v-btn
              outlined
              text
              color="black"
              @click="e1 = 3"
          >
            BACK
          </v-btn>


        </v-stepper-content>
        <!--        contents of the stepper 4-->

      </v-stepper-items>
    </v-stepper>
    <!--  end of the stepper-->

  </v-container>
</template>

<script>


export default {
  name: "CheckoutView",
  components: {

  },
  data() {
    return {
      shipping: 10,
          e1: 1,
        }
  },
  methods: {
    getItemTotal(item) {
      return item.quantity * item.product.price
    },
    goBack() {
      return this.$router.go(-1)
    },
    cartTotal() {
      this.$store.state.cart.globalPrice = parseFloat(this.cartTotalPrice + this.shipping)
      return parseFloat(this.cartTotalPrice + this.shipping)
    },
  },
  computed: {

    cartTotalLength() {
      return this.$store.state.cart.items.reduce((acc, curVal) => {
        return acc += curVal.quantity
      }, 0)
    },
    cartTotalPrice() {
      return this.cart.items.reduce((acc, curVal) => {
        return acc += curVal.product.price * curVal.quantity
      }, 0)
    },
    userData(){
      return this.$store.state.userData
    },
  },
  mounted() {
    this.cart = this.$store.state.cart
    document.title = 'Checkout | FahrradSale'
  },
  created() {
    this.$store.dispatch("loadUserData",this.$store.state.user)
  }
}
</script>

<style scoped>
</style>