<template>
  <v-container>
    <Carousel />
    <TextBoxLandingPage />
<LandingPageContainerSystem />
  </v-container>
</template>

<script>
  import Carousel from "@/components/Carousel";
  import TextBoxLandingPage from "@/components/TextBoxLandingPage";
  import LandingPageContainerSystem from "@/components/LandingPageContainerSystem";

  export default {
    name: 'LandingPageLayout',
    components: {
      Carousel,
      TextBoxLandingPage,
      LandingPageContainerSystem


    },
    data: () => ({

    }),
  }
</script>

<style scoped>

.container {
  width: 100vw;
  padding: 0;
  margin: 0;
}

</style>