<template>
<div>
  <ProductsPageHeader />
  <ProductsPageFilters />
</div>
</template>

<script>
import ProductsPageHeader from "@/components/ProductsPageHeader";
import ProductsPageFilters from "@/components/ProductsPageFilters";

export default {
  name: "ProductsPageLayout",
  components: {
    ProductsPageFilters,
    ProductsPageHeader
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>

.container {
  max-width: 100vw;
}

.v-application .pa-0 {
  padding: 1vh !important;
}

/*                                       RED BORDER FOR GRID EDITING                             */
.red_hl {
  border:1px solid red;
}
/*                                       RED BORDER FOR GRID EDITING                             */


</style>