<template>
  <div>
    <ProductOverviewHeader/>
  <h1>PRODUCT OVERVIEW</h1>
  <ProductOverviewInfoOne/>
    <ProductOverviewInfoTwo/>
  </div>
</template>

<script>
import ProductOverviewHeader from "@/components/ProductOverviewHeader";
import ProductOverviewInfoOne from "@/components/ProductOverviewInfoOne";
import ProductOverviewInfoTwo from "@/components/ProductOverviewInfoTwo";

export default {
  name: "ProductsOverview",
  components: {
    ProductOverviewInfoOne,
    ProductOverviewInfoTwo,
    ProductOverviewHeader
  },
  mounted() {
    document.title = 'Product Overview | FahrradSale'
  },
}


</script>

<style scoped>

h1{
  display:flex;
  justify-content: space-evenly;
  margin: 80px;
}

.container {
  max-width: 100vw;
}

.v-application .pa-0 {
  padding: 1vh !important;
}

</style>