<template>
  <v-container>
    <p class="display-2 font-weight-light	text-center pa-4">SHOPPING BAG</p>
    <v-row class="justify-space-between mb-10">


      <v-col :cols="12" md="9" sm="12">
        <v-simple-table v-if="cartTotalLength">
          <!--          table for the product-->
          <template v-slot:default>
            <thead>

            <tr>
              <th class="text-center">ITEM</th>
              <th class="text-center">PRICE</th>
              <th class="text-center">QUANTITY</th>
              <th class="text-center">TOTAL</th>
              <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <CartItem
                v-for="item in cart.items"
                v-bind:key="item.product.id"
                v-bind:initialItem="item"
                v-on:removeFromCart="removeFromCart"
            />
            </tbody>
          </template>
        </v-simple-table>
        <p v-else>You don't have any products in your cart...</p>
      </v-col>

      <!--Order Summary on the right side-->
      <v-col :cols="12" md="3" sm="12" style="background-color: lightgray">
        <p class="headline">Order Summary</p>
        <!--        <p class="overline">Shipping and additional costs are calculated based on values you have entered.</p>-->
        <v-simple-table>
          <template v-slot:default>
            <tbody>
            <tr>
              <td><b>{{ cartTotalLength }}</b> Items</td>
              <td class="text-right" style="width: 50px;">{{ cartTotalPrice.toFixed(2) }}€</td>
            </tr>
            <tr>
              <td>Shipping Fees</td>
              <td class="text-right" style="width: 50px;">{{ shipping }}€</td>
            </tr>
            <tr>
              <td>Total</td>
              <td class="text-right" style="width: 50px;"><b>{{ cartTotal().toFixed(2) }}€</b></td>
            </tr>
            </tbody>
          </template>
        </v-simple-table>
        <div class="text-center">
          <v-btn class="white--text mt-5"
                 color="#0F99F5"
                 to="/bag/checkout"

          >PROCEED TO PAY
          </v-btn>
          <br>
          <v-btn class="mt-5" @click="clearCart">CLEAR CART</v-btn>
        </div>
      </v-col>
    </v-row>

  </v-container>

</template>

<script>
import CartItem from '@/components/CartItem.vue'


export default {
  name: 'Cart',
  components: {
    CartItem
  },
  data() {
    return {
      shipping: 10,
      cart: {
        items: []
      }
    }
  },
  mounted() {
    this.cart = this.$store.state.cart
      document.title = 'Shopping Bag | FahrradSale'

  },
  methods: {
    removeFromCart(item) {
      this.cart.items = this.cart.items.filter(i => i.product.id !== item.product.id)
    },
    clearCart() {
      this.$store.dispatch("clearCart");
    },
    cartTotal() {
      this.$store.state.cart.globalPrice = parseFloat(this.cartTotalPrice + this.shipping)
      return parseFloat(this.cartTotalPrice + this.shipping)
    },
  },
  computed: {
    cartTotalLength() {
      return this.cart.items.reduce((acc, curVal) => {
        return acc += curVal.quantity
      }, 0)
    },
    cartTotalPrice() {
      return this.cart.items.reduce((acc, curVal) => {
        return acc += curVal.product.price * curVal.quantity
      }, 0)
    },
  }

}
</script>

<style scoped>

</style>