<template>
<div>
  all users
  <br>

  {{allUsers}}
  <br>
  <br>
  user Data
  <br>


{{userData}}


  <br>
  <br>
CURRENT USER
  <br>
  {{admin}}

  <br>


  <br>
  all PRODUCTS
  <br>
{{ allProducts }}
  <br>

</div>
</template>
<script>
export default {
  name: "TestLayout",
  computed: {


    allProducts() {
          return this.$store.state.products
        },

    admin(){
          return this.$store.state.user
        },
    allUsers(){
      return this.$store.state.users
    },
    userData(){
      return this.$store.state.userData
    }
  },
  methods: {

    async logout() {
      await this.$store.dispatch('logout')
    },
  },
  created() {
    console.log("Product Id: ");
    this.$store.dispatch("loadAllUsers")
    this.$store.dispatch("loadAllProducts")
    this.$store.dispatch("loadUserData",this.$store.state.user)
  }
}
</script>

<style scoped>

</style>