<template>
  <div id="TopLayout">
    <Header />
    <HeaderSecond />
  </div>

</template>

<script>
import Header from "@/components/Header";
import HeaderSecond from "@/components/HeaderSecond";


export default {
  name: 'TopLayout.vue',
  components: {
    Header,
    HeaderSecond,
  },
}
</script>

<style scoped>

</style>